@import '@xterm/xterm/css/xterm.css';

:root {
    --color-theme: #353838;
    --color-accent: #88f;

    --color-page-background: oklch(from var(--color-theme) calc(l - 0.06) c h);
    --color-area-background: var(--color-theme);
    --color-terminal-background: var(--color-area-background);

    --color-button-background: var(--color-theme);
    --color-button-border: var(--color-border);
    --color-button-text: var(--color-text);

    --color-button-hover-background: oklch(from var(--color-button-background) calc(l + 0.1) c h);
    --color-button-hover-border: oklch(from var(--color-button-border) calc(l + 0.2) c h);
    --color-button-hover-text: var(--color-button-text);

    --color-button-active-background: oklch(from var(--color-button-background) calc(l - 0.1) c h);
    --color-button-active-border: oklch(from var(--color-button-border) calc(l + 0.2) c h);
    --color-button-active-text: oklch(from var(--color-button-text) calc(l - 0.1) c h);

    --color-button-disabled-background: oklch(from var(--color-button-background) calc(l + 0.1) c h);
    --color-button-disabled-border: var(--color-button-border);
    --color-button-disabled-text: oklch(from var(--color-button-text) 0.7 c h);

    --color-tree-node-line-hover-background: oklch(from var(--color-theme) 0.8 c h / 0.2);

    --color-menu-background: oklch(from var(--color-theme) calc(l + 0.1) c h);

    --color-menu-item-background: var(--color-menu-background);
    --color-menu-item-hover-background: oklch(from var(--color-menu-background) calc(l + 0.05) c h);

    --color-border: oklch(from var(--color-theme) calc(l + 0.2) c h);
    --color-text: oklch(from var(--color-theme) 0.95 c h);
    --color-text-muted: oklch(from var(--color-theme) 0.7 c h);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    color: var(--color-text);
    background: var(--color-page-background);
    font-family: system-ui, sans-serif;
    font-size: 15px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.button {
    padding: 0 8px;
    background: var(--color-button-background);
    border: 1px solid var(--color-button-border);
    color: var(--color-button-text);
    border-radius: 0;
    font: inherit;
    font-size: 15px;
    line-height: 26px;

    &:not(:disabled) {
        &:hover {
            background: var(--color-button-hover-background);
            border-color: var(--color-button-hover-border);
            color: var(--color-button-hover-text);
        }

        &:active {
            background: var(--color-button-active-background);
            border-color: var(--color-button-active-border);
            color: var(--color-button-active-text);
        }
    }

    &:disabled {
        background: var(--color-button-disabled-background);
        border-color: var(--color-button-disabled-border);
        color: var(--color-button-disabled-text);
    }
}

.aligned-icon {
    vertical-align: middle;
    margin-block-start: calc(1ex - 1cap);
}

.main {
    position: relative;
    height: 100dvh;
}

.panel-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    > .panel-header {
        padding-inline: 8px;
    }

    > .panel-grid {
        flex: 1;
        height: 0;
    }
}

.panel-grid {
    display: grid;
}

.panel-container.single-panel .panel-grid > * {
    grid-area: 1 / 1;
}

.panel-container:not(.single-panel) .panel-grid {
    grid-template-rows: 1fr;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 'sidebar terminal';
    gap: 8px;
    padding: 8px;
}

.panel-header {
    --header-height: 44px;

    display: flex;
    align-items: center;
    height: var(--header-height);
    box-sizing: content-box;
    gap: 8px;
    border-block-end: 1px solid var(--color-border);
    white-space: nowrap;

    .panel-title {
        width: fit-content;
        margin: 0;
        margin-block-end: -2px;
        padding: 0 16px;
        border: 1px solid var(--color-border);
        background: none;
        color: inherit;
        font: inherit;
        font-size: 12px;
        font-weight: 500;
        line-height: var(--header-height);
        text-transform: uppercase;

        &.active {
            border-block-end-color: transparent;
            background: var(--color-area-background);
        }

        .panel-container.single-panel > .panel-header & {
            align-self: flex-end;
            padding-inline: 12px;
            line-height: calc(var(--header-height) - 8px);
        }

        .icon:has(+ span) {
            margin-inline-end: 4px;
        }
    }

    .panel-visible-actions-wrapper {
        flex: 1;
        width: 0;
        height: 100%;
    }

    .panel-visible-actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;
        height: 100%;
    }

    .button {
        .icon:has(+ *) {
            margin-inline-end: 4px;
        }
    }
}

.panel {
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;

    &.panel-hidden {
        display: none;
    }

    .panel-content {
        flex: 1;
        height: 0;
        background: var(--color-area-background);
        overflow: auto;
    }

    &:not(.padded) {
        .panel-header {
            padding-inline-end: 8px;
        }
    }

    &.padded {
        .panel-header {
            --header-height: 36px;

            .panel-visible-actions {
                align-items: flex-start;
            }
        }

        .panel-content {
            border: 1px solid var(--color-border);
            border-block-start: none;
        }
    }
}

.popover {
    background: var(--color-popover-background);
    border: 1px solid var(--color-border);
    box-shadow:
        rgb(0 0 0 / 0.25) 0 2px 4px,
        rgb(0 0 0 / 0.125) 0 4px 8px;

    &.fixed-positioning {
        position: fixed;
        width: max-content;
    }

    &.animate-enter {
        animation: 0.1s ease fade-in;
    }
}

.popover-backdrop {
    position: fixed;
    inset: 0;
}

.popover-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu-popover {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: var(--color-menu-background);
    overflow: auto;

    --color-button-disabled-background: var(--color-button-background);

    &:focus {
        outline: none;
    }
}

.menu-list {
    margin: 0;
    padding: 4px 0;

    .menu-list-item {
        padding-inline-start: 32px;
        padding-inline-end: 24px;
        line-height: 28px;
        background: var(--color-menu-item-background);
        cursor: pointer;

        &:focus,
        &.focused {
            outline: none;
            background: var(--color-menu-item-hover-background);
        }
    }
}

.terminal-panel {
    grid-area: terminal;
}

.terminal-panel,
.terminal-panel-title {
    --color-area-background: black;
}

#terminal {
    height: 0;
    font-family: monospace;
    font-size: max(13px, min(15px, 2vw));
    overflow: hidden;

    /* !important is used to override inline styles */

    .xterm {
        padding: 8px;
    }

    .xterm-viewport {
        background-color: transparent !important;
    }

    &.session-ended :is(.xterm-helper-textarea, .xterm-cursor) {
        display: none;
    }
}

.file-tree-panel {
    grid-area: sidebar;
}

.tree {
    > i, > p {
        display: block;
        margin: 16px;
        color: var(--color-text-muted);
    }

    .tree-list {
        margin: 0;
        padding: 0;
    }

    > .tree-list {
        min-height: 100%;
        padding: 8px 0;

        &:focus {
            outline: none;
        }
    }

    &:has(> .tree-list:focus) {
        margin-block-start: -1px;
        padding-block-start: 1px;
        outline: 1px solid var(--color-accent);
        outline-offset: -1px;
    }

    .tree-list-item {
        line-height: 24px;
        list-style: none;

        @media (pointer: coarse) {
            line-height: 36px;
        }

        .tree-node-line {
            display: grid;
            grid-template-columns: 16px 16px 1fr max-content;
            align-items: center;
            gap: 4px;
            padding-inline-start: calc(8px + 20px * var(--level, 0));
            padding-inline-end: 8px;
            cursor: pointer;
            user-select: none;

            &:hover {
                background-color: var(--color-tree-node-line-hover-background);
            }

            .tree-node-chevron {
                grid-column: 1;
            }

            .tree-node-icon {
                grid-column: 2;
            }

            .tree-node-name {
                grid-column: 3;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                &:is(input) {
                    margin: 0 -1px;
                    padding: 0 1px;
                    background: oklch(from var(--color-theme) calc(l + 0.1) c h);
                    color: inherit;
                    border: none;
                    font: inherit;

                    &, &:focus {
                        outline: 1px solid var(--color-accent);
                        outline-offset: -1px;
                    }
                }
            }

            .tree-node-actions {
                display: flex;
                gap: 4px;

                .button {
                    --color-button-background: transparent;
                    --color-button-hover-background: oklch(from var(--color-tree-node-line-hover-background) calc(l + 0.1) c h);

                    padding: 2px;
                    border: none;
                    line-height: 16px;
                    cursor: pointer;

                    @media (pointer: coarse) {
                        padding: 6px;
                    }
                }
            }
        }

        &:focus,
        &.last-focused {
            outline: none;

            > .tree-node-line {
                outline: 1px solid var(--color-accent);
                outline-offset: -1px;
            }
        }

        @media (pointer: fine) {
            &:not(:has(> .tree-node-line:is(:hover)), :focus, .last-focused) > .tree-node-line > .tree-node-actions {
                opacity: 0;
            }
        }
    }
}

@keyframes fade-in-background {
    from {
        background: transparent;
    }
}

@keyframes fade-out-background {
    to {
        background: transparent;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-in {
    from {
        transform: translateY(100%);
    }
}

@keyframes slide-out {
    to {
        transform: translateY(100%);
    }
}
